<div class="example-form">
  <div><span>id: </span></div>
  <label>Title:
    <input type="text" /><br>
  </label>
  <label>Date:
    <input type="date" /><br>
  </label>
  <label>Gener:
    <input type="text" /><br>
  </label>
  <label>Desc:
    <input type="text" /><br>
  </label>
  <br>
  <button class="clear">Create</button>
  <button class="clear">Update</button>
  <button class="clear">Delete</button>
  <button class="clear">Select</button>

  <table>
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of dataSource">
        <th>{{el.id}}</th>
        <td>{{el.title}}</td>
        <td>{{el.date}}</td>
        <td>{{el.genre}}</td>
        <td>{{el.dsc}}</td>
      </tr>
    </tbody>
  </table>
</div>